.item {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--green-mid);
    margin: 0 auto;
    align-self: flex-start;
}

.item:last-of-type {
    border: 0;
}

.item svg {
    width: 1rem;
    height: 1rem;
}

.icon {
    opacity: 0;
    transition: all 111ms ease;
    cursor: pointer;
}

.item:hover .icon {
    opacity: 1;
}

.input {
    color: white;
    background: transparent;
    transition: all 123ms ease;
}

.input:active,
.input:focus {
    color: white;
    background: rgba(0, 0, 0, .2) !important;
}

.input::placeholder {
    color: white;
    opacity: 1;
}