:root {
  --radius-large: 10px;
  --radius: 2px;
  --inner-content: 768px;
  --content: 1280px;
  --red: #c93c3c;
  --blue: #3979f6;
  --green: #47822b;
  --green-mid: #00421f;
  --green-dark: #003217;
  --body-bg-light: radial-gradient(farthest-side ellipse at 10% 0, #005e2d 20%, #04411e);
  --heading: rgba(244, 244, 245, .9);
  --text: rgba(244, 244, 245, 0.6);
  --text-white: rgba(244, 244, 245, .9);
  --transparent: rgba(0, 0, 0, .24);
  --shadow: 0 23px 20px -20px rgb(9 10 18 / 10%), 0 0 15px rgb(9 10 18 / 6%);
  --shadow-light: 0 23px 20px -20px rgb(255 255 255 / 40%), 0 0 15px rgb(255 255 255 / 43%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
}

h6 {
  font-size: 1.8rem;
  font-weight: 200;
}

p {
  font-size: 1.4rem;
  color: var(--text);
}

html {
  background: var(--body-bg-light);
  height: auto;
  min-height: 100%;
}

@media screen and (max-width: 768px) {
  html {
    background: var(--body-bg-light);
  }

}

button,
input {
  border: 0;
  -webkit-appearance: none;
}

[type="text"] {
  width: 100%;
  border: 0;
  outline: 0;
  color: var(--text);
  background: var(--transparent);
  border-radius: var(--radius);
}


button {
  cursor: pointer;
  background: var(--green-mid);
  color: var(--text-white);
  border-radius: var(--radius);
}

::placeholder {
  color: var(--text);
  opacity: 0.2;
}

* {
  font-weight: 200;
  font-family: 'Manrope', sans-serif;
}


.highlight {
  background: var(--green);
  color: white;
}