.container {
  width: 100%;
  max-width: var(--content);
  margin: 0 auto;
  padding: 4rem;
}

.error {
  padding: 1rem 2rem;
  width: 100%;
  border-left: 2px solid var(--red);
  position: relative;
  display: inline-block;
}

.error:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--red);
  opacity: .1;
}

.createContainer {
  width: 100%;
  max-width: var(--inner-content);
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  flex-wrap: wrap;
}

.createContainer form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.input {
  width: Calc(50% - 2rem);
  padding:1rem;
  border-radius: var(--radius);
}